<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permite obter a localização precisa do aparelho (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Permite obter localização aproximada (rede/Wifi) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Necessária para carregar o mapa e buscar a localização -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nintendo_2">

        <!-- Tela principal, registrada como ponto de entrada (LAUNCHER) -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clbloja"
            android:exported="false" />
        <activity
            android:name=".conkers"
            android:exported="false" />
        <activity
            android:name=".extra"
            android:exported="false" />
        <activity
            android:name=".mapelson"
            android:exported="false" />
        <activity
            android:name=".personagensDK"
            android:exported="false" />
        <activity
            android:name=".personagensLK"
            android:exported="false" />
        <activity
            android:name=".personagensPG"
            android:exported="false" />
        <activity
            android:name=".starfox"
            android:exported="false" />
        <activity
            android:name=".finalizarCompra"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>